name: Test mutr

on:
    push:
    pull_request:

jobs:
    test:
        strategy:
            matrix:
                image:
                    - rhub/r-minimal:devel
                    - rhub/r-minimal:latest
                    - rhub/r-minimal:4.0

        runs-on: ubuntu-latest
        container:
            image: ${{ matrix.image }}

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: test mutr
              run: Rscript -e 'source("mutr.r"); source("test-mutr.r")'

            - name: test examples
              run: Rscript examples/test_all.r
